.products-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
}
.order-summary {
    background-color: #ff9900;
    padding: 9px;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 9px;
    padding: 30px 60px;
}
