header {
    min-height: 80px;
    display: flex;
    align-items: center;
    background-color: rgb(39, 48, 48);
    padding: 0 40px;
    justify-content: space-between;
}
header a {
    text-decoration: none;
    padding: 30px;
    font-weight: bolder;
    color: white;
}
header a:hover {
    color: yellow;
    cursor: pointer;
}
